<!-- <section id="dash"  [ngStyle]="{ backgroundColor: '#2a3d55', color: '#fff' }"> -->
<section id="dash" style="background-color: rgb(7, 0, 73)">
  <div
    class="d-flex justify-content-center flex-column container"
    style="padding: 9em 5px 7em 5px"
  >
    <h2 class="text-start mb-4" style="color: var(--secondary)">
      Painel de Contatos
    </h2>

    <div class="d-flex justify-md-content-end mb-3">
      <button
        class="btn-primary btn-sm border-0"
        style="background-color: var(--primary); color: var(--secondary)"
        (click)="mostrarNaoContatados = !mostrarNaoContatados"
      >
        {{ mostrarNaoContatados ? "Mostrar Todos" : "Mostrar Não Contatados" }}
      </button>
    </div>

    <div style="overflow-x: auto; width: 100%">
      <table
        class="table table-hover align-middle text-white"
        style="border-radius: 50em !important"
      >
        <thead class="table-light">
          <tr>
            <th scope="col">Contatado</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">CPF</th>
            <th scope="col">Telefone</th>
            <th scope="col">Data do registro</th>
            <th scope="col">Observações</th>
            <th scope="col">Ação</th>
            <!-- NOVA COLUNA -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contato of contatosFiltrados()">
            <td>
              <input
                type="checkbox"
                class="form-check-input"
                [(ngModel)]="contato.contatado"
                (change)="
                  atualizarContato(
                    contato.id,
                    contato.contatado,
                    contato.observacao
                  )
                "
              />
            </td>
            <td>{{ contato.nome }}</td>
            <td>{{ contato.email }}</td>
            <td>{{ contato.cpf }}</td>
            <td>{{ contato.telefone }}</td>
            <td>{{ contato.createdAt | date : "dd/MM/yyyy" }}</td>
            <td>
              <textarea
                class="form-control"
                [ngStyle]="{ backgroundColor: '#fff', color: '#000' }"
                rows="1"
                [(ngModel)]="contato.observacao"
                (input)="marcarComoContatado(contato)"
              ></textarea>
            </td>
            <td>
              <button
                style="
                  background-color: var(--primary);
                  color: var(--secondary);
                  margin-right: 3px;
                "
                class="btn-sm border-0"
                (click)="
                  atualizarContato(
                    contato.id,
                    contato.contatado,
                    contato.observacao
                  )
                "
              >
                Salvar
              </button>
              <!-- <button
                style="color: var(--secondary)"
                class="btn-sm btn-secondary border-0"
                (click)="excluirContato(contatos.id)"
              >
                Excluir
              </button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      *ngIf="totalPaginas > 1"
      class="d-flex justify-content-center align-items-center mt-4"
    >
      <div>
        <button
          class="btn-primary btn-sm me-2"
          [disabled]="paginaAtual === 1"
          (click)="mudarPagina(-1)"
        >
          Anterior
        </button>

        <span style="color: var(--secondary)">
          Página {{ paginaAtual }} de {{ totalPaginas }}
        </span>

        <button
          class="btn-primary btn-sm ms-2"
          [disabled]="paginaAtual === totalPaginas"
          (click)="mudarPagina(1)"
        >
          Próxima
        </button>
        <div class="d-flex justify-content-center align-items-center">
          <p style="color: var(--secondary)">Total: {{ contatos.length }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div
  [ngClass]="alertIndicator === true ? 'alert-sucess' : 'alert-error'"
  class="alert alert-info alert-dismissible fade show z-index-1000"
  *ngIf="showAlert"
  role="alert"
>
  {{ alertMessage }}
  <button
    type="button"
    class="btn-close"
    (click)="showAlert = false"
    aria-label="Close"
  ></button>
</div>
