.alert-sucess {
  position: fixed !important;
  top: 10px;
  right: 10px;
  z-index: 1050;
  background-color: var(--primary);
  border-radius: 10em;
  border: 1px solid var(--primary);
  color: var(--secondary);
}
.alert-error {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1050;
  background-color: var(--primary);
  border-radius: 10em;
  border: 1px solid var(--primary);
  color: var(--secondary);
}
.table-nowrap td,
.table-nowrap th {
  white-space: nowrap;
  /* padding-left: 1.5rem;
  padding-right: 1.5rem; */
}

@media (max-width: 768px) {
  .table-nowrap td,
  .table-nowrap th {
    white-space: nowrap;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
