#hero-btn {
    display: flex;
    justify-content: center;
}

.ui-button-wpp {
    background-color: rgb(16, 206, 85);
    border-color: rgb(16, 206, 85);
}

.ui-button-wpp:hover {
    background-color: var(--light);
    border-color: var(--light);
    color: var(--secondary-detail);
}

a {
    color: var(--secondary-detail);
}