<section id="home" class="spacement">
  <!-- class="carousel slide" -->
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div
          id="banner"
          class="video-background bg-overlay bg-overlay-dark bg-section"
        >
          <img
            src="../../../assets/ng-home-upscale.jpg"
            alt="Banner Fallback"
          />

          <div id="banner-text" class="content container">
            <p
              class="title-top d-flex justify-content-center justify-content-lg-start"
              style="color: var(--secondary-blue-light)"
            >
              Willians Invest
            </p>

            <h1
              class="d-flex justify-content-center justify-content-lg-start text-center text-lg-start"
            >
              Experiência Transparente
              <!-- Negocie com quem entende do assunto -->

              <!-- Negocie com quem entende do assunto e oferece confiança em cada etapa do processo. -->

              <!-- Transformamos seu precatório em dinheiro com segurança e agilidade -->
            </h1>
            <p
              class="pb-3 d-flex justify-content-center justify-content-lg-start text-center text-lg-start"
              style="font-size: larger; color: var(--primary)"
            >
              Negocie com quem entende do assunto e oferece<br />
              confiança em cada etapa do processo.
            </p>
            <div class="d-flex justify-content-center justify-content-lg-start">
              <app-wpp-btn></app-wpp-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="carousel-item">
        <div
          id="banner"
          class="video-background bg-overlay bg-overlay-dark bg-section"
        >
          <img src="../../../assets/background2.webp" alt="Banner Fallback" />

          <div id="banner-text" class="content2 container" style="z-index: 1">
            <h1 style="color: var(--secondary-detail)">
              Qualidade & Confiança
            </h1>
            <p class="pb-3" style="font-size: larger">
              Excelência no atendimento e defesa dos direitos dos trabalhadores"
            </p>
            <app-wpp-btn></app-wpp-btn>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->
  </div>

  <!-- <app-cards></app-cards> -->
</section>
