.btn-topo {
    position: fixed;
    right: 26px;
    background-color: #00000038;
    color: #fff;
    border: none;
    padding: 3px 15px;
    font-size: 22px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease;
    bottom: 87px;
    width: 40px;
    height: 40px;
    /* background-color: var(--primary-transparent); */
    border-radius: 50%;
    display: inline-block;
}