<!-- Site footer -->
<footer id="contato" class="site-footer pb-5">
  <div id="footer" class="container">
    <!-- <div>
      <p>a</p>
    </div> -->
    <div>
      <img loading="lazy" src="../../../assets/logo-white.png" class="container-fluid" alt="error" style="width:15em" />
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <p class="copyright-text">Copyright &copy; Powered by
      <a href="https://www.instagram.com/hirle.og">Guilherme Hirle</a>.
    </p>
  </div>
</footer>