<nav id="nav" [ngClass]="{ 'hidden': scrolled }"  class="navbar navbar-expand-lg navbar-light">

  <div class="collapse navbar-collapse"  data-aos-duration="1000" id="ajustes">
    <div id="burger" style="display: flex; justify-content: flex-start; padding-top: -10px">
      <i  (click)="menu()" class="fa-solid fa-bars"></i>
    </div>

    <div class="navbar-brand" style="display: flex">
      <div class="container">
        <a  href="#inicio">
          <img src="../../../assets/logo-white.png" class="container-fluid" alt="error" style="width:7em" />
        </a>
      </div>
    </div>

    <div id="fake"></div>
  </div>

  <div class="hide-menu" style="display: flex; justify-content: flex-start">
    <ul class="navbar-nav me-auto mb-lg-0">
      <li class="nav-item">
        <a [ngClass]="{ 'nav-link-change': scrolled }" class="nav-link active" aria-current="page" href="#home">Página Inicial</a>
      </li>
      <li class="nav-item">
        <a [ngClass]="{ 'nav-link-change': scrolled }" class="nav-link active" aria-current="page" href="#about">Sobre</a>
      </li>
      <li class="nav-item">
        <a [ngClass]="{ 'nav-link-change': scrolled }" class="nav-link active" aria-current="page" href="#services">Serviços</a>
      </li>
      <li class="nav-item">
        <a [ngClass]="{ 'nav-link-change': scrolled }" class="nav-link active" aria-current="page" href="#reviews">Clientes</a>
      </li>
      <li class="nav-item">
        <a [ngClass]="{ 'nav-link-change': scrolled }" class="nav-link active" aria-current="page" href="#questions">Perguntas</a>
      </li>
    </ul>
  </div>
</nav>

<div data-aos="fade-right" class="side-bar" *ngIf="openClose">
  <div class="container">
    <div>
      <ul class="navbar-nav">
        <li class="side-item">
          <a (click)="menu()" [ngClass]="{ 'nav-link-change': scrolled }" class="nav-link active" aria-current="page" href="#home">Pagina Inicial</a>
        </li>
        <li class="side-item">
          <a (click)="menu()" [ngClass]="{ 'nav-link-change': scrolled }" class="nav-link active" aria-current="page" href="#about">Sobre</a>
        </li>
        <li class="side-item">
          <a (click)="menu()" [ngClass]="{ 'nav-link-change': scrolled }" class="nav-link active" aria-current="page" href="#services">Serviços</a>
        </li>
        <li class="side-item">
          <a (click)="menu()" [ngClass]="{ 'nav-link-change': scrolled }" class="nav-link active" aria-current="page" href="#reviews">Clientes</a>
        </li>
        <li class="side-item">
          <a (click)="menu()" [ngClass]="{ 'nav-link-change': scrolled }" class="nav-link active" aria-current="page" href="#questions">Perguntas</a>
        </li>
      </ul>
    </div>
  </div>
</div>