/* INCIO DO NAVBAR */
html body {
  max-width: 100%;
}

.nav-link {
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 0;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: solid 4px transparent;
  color: var(--secondary) !important;
}

.nav-link-change {
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 0;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: solid 4px transparent;
  color: var(--secondary-dark);
}

.nav-link:hover {
  border-bottom: solid 4px var(--secondary-dark);
  color: var(--primary);
}

.navbar-expand-lg {
  top: 0 !important;
  transition: top 0.6s ease-in-out !important;
  z-index: 999 !important;

  width: 100%;
  display: flex;
  justify-content: space-around;

  position: absolute;
  background-color: #00000017;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid #00000017;
  /* transition: background-color 0.3s ease-in-out; */
  /* background-color: var(--secondary); */
}

nav.hidden {
  top: -100% !important;
  /* Move o navbar para cima, ocultando-o */
  /* top: 0 !important;
  transition: top 0.6s ease-in-out !important;
  z-index: 999 !important;

  width: 100%;
  display: flex;
  justify-content: space-around;

  position: fixed;
  background-color: var(--secondary); */
  /* backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
  /* transition: background-color 0.3s ease-in-out; */
}

.is-at-top {
  background-color: red;
}

/* Transição suave para o efeito de ocultação */

.navbar-collapse {
  flex-grow: 0 !important;
}

/* FIM DO NAVBAR */

/* icones redes */
.flex-icons {
  display: flex;
  justify-content: flex-end;
}

#ajustes {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin: 0px 10px 0px 10px;
}

.icons-redes a {
  font-size: 25px;
  margin-right: 15px;
}

#burger i {
  display: none;
  color: var(--primary);
  margin: 15px 10px 0px 0px;
}

#burger i {
  display: none;
}

@media (max-width: 768px) {
  .side-bar {
    background: var(--secondary-light);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    opacity: 100%;
    transition: all 0.5s ease;
    z-index: 10;
    margin-top: 113px;
  }

  #ajustes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 0px 10px;
  }

  #burger i {
    display: block;
    cursor: pointer;
  }

  .nav-item a {
    display: flex;
    justify-content: center;
    display: none;
    visibility: visible;
  }
}

/* Extra Small Devices, Phones */
@media (min-width: 768px) and (max-width: 990px) {
  .side-bar {
    background: var(--secondary-light);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    opacity: 100%;
    transition: all 0.5s ease;
    z-index: 10;
    margin-top: 113px;
  }

  .hide-menu {
    display: none;
  }

  .nav-item a {
    display: flex;
    justify-content: center;
    display: none;
    visibility: visible;
  }

  .side-item {
    display: block;
  }

  #burger i {
    display: block;
    cursor: pointer;
  }

  .navbar-expand-lg {
    width: 100%;
    opacity: 95%;
    position: fixed;
    z-index: 10;
  }

  #ajustes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 0px 10px;
  }
}

@media (max-width: 768px) {
  .navbar-expand-lg {
    width: 100%;
    opacity: 95%;
    position: fixed;
    z-index: 10;
    background-color: var(--secondary-light) !important;
  }
}
