<div class="container d-flex justify-content-center mb-5">
  <img
    src="../../../assets/logo-gpt.png"
    class="img-fluid"
    style="width: 17em"
    alt=""
  />
</div>

<section id="services" class="container spacement">
  <div data-aos="fade-down">
    <div id="content-section" class="content container">
      <div style="display: flex">
        <p class="title-detail">Serviços</p>
      </div>
      <h2>Os Melhores Serviços</h2>
      <p class="pb-3" style="font-size: larger">
        Oferecemos serviços especializados com alto padrão de qualidade,
        transparência e agilidade. Cada etapa é conduzida com o máximo cuidado
        para garantir segurança jurídica e a melhor proposta pelo seu
        precatório.
      </p>
      <a
        class="view-more-btn"
        target="_blank"
        href="https://wa.me/5511949054658?text=Olá, tudo bem? Gostaria de esclarecer algumas duvidas e saber mais sobre os serviços!"
        >Fale Conosco</a
      >
    </div>
  </div>

  <div
    class="container mt-0 mt-sm-0 mt-md-5"
    data-aos="zoom-in"
    data-aos-duration="600"
  >
    <img
      src="../../../assets/service-detail.webp"
      class="img-fluid"
      style="width: 100%"
      alt=""
    />
  </div>
</section>

<div class="container mt-4">
  <div class="row d-flex justify-content-center">
    <div
      *ngFor="let card of cards"
      class="col-lg-4 col-md-6 col-sm-12 card-spacement"
    >
      <div
        class="about_practice_icontext floating-card"
        (click)="wppMessageOptions(card.title)"
        data-aos="fade-up"
        data-aos-duration="600"
      >
        <div class="about_practice_icon float-left">
          <i
            class="{{ card.image }}"
            style="width: 60px; margin: 0px 5px 0px 5px"
          ></i>
        </div>

        <div>
          <h4 style="padding-bottom: 0px">{{ card.title }}</h4>
          <p>{{ card.description }}</p>
          <a
            class="view-more-btn"
            (click)="wppMessageOptions(card.title)"
            href=""
            >Consultar</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
