<div>
    <div class="bg-overlay d-flex  align-items-center mb-4">
        <div class="container d-flex justify-content-center">
            <div>
                <p class="title-detail text-center">
                    Não perca mais tempo
                </p>
                <div data-aos="fade-down" data-aos-duration="300">
                    <h2 class="text-center mb-4" style="color: var(--secondary-detail);">
                        Faça uma consulta gratís
                    </h2>
                    <div data-aos="fade-left" data-aos-duration="600">
                        <app-wpp-btn></app-wpp-btn>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>