<div class="cards container">
    <div id="cards-line" class="">
        <!-- <div class="col-lg-12 col-xl-4 col-md-12 col-sm-12 mb-4" data-aos="fade-down" > -->
        <div class="" style="z-index: 1;">
            <div>
                <img src="../../../assets/Container.svg" class="mb-2" style="width: 100%;" alt="">
            </div>
            <div id="ui-card">
                <div>
                    <div class="card-ajust">
                        <div class="icon-circle mb-4">
                            <i class="fa-solid fa-car"></i>
                        </div>
                        <h4>Nossa Missão</h4>
                    </div>
                    <!-- <p>Conectar pessoas a profissionais qualificados, promovendo confiança e eficiência.</p> -->
                </div>
                <div>
                    <div class="card-ajust">
                        <div class="icon-circle mb-4">
                            <i class="fa-solid fa-car"></i>
                        </div>
                        <h4>Nossa Missão</h4>
                    </div>
                    <!-- <p>Conectar pessoas a profissionais qualificados, promovendo confiança e eficiência.</p> -->
                </div>
                <div>
                    <div class="card-ajust">
                        <div class="icon-circle mb-4">
                            <i class="fa-solid fa-car"></i>
                        </div>
                        <h4>Nossa Missão</h4>
                    </div>
                    <!-- <p>Conectar pessoas a profissionais qualificados, promovendo confiança e eficiência.</p> -->
                </div>
            </div>
        </div>


        <!-- <div class="" data-aos="fade-down" >
            <div>
                <img src="../../../assets/Container-1.svg" class="mb-2" style="width: 100%;" alt="">
            </div>
            <div id="ui-card">
                <div class="card-ajust">
                    <div class="icon-circle mb-4">
                        <i class="fa-solid fa-spray-can-sparkles"></i>
                    </div>
                </div>
                <h4>Nossa Visão</h4>
                <p>Ser a principal plataforma de serviços, reconhecida pela excelência e inovação inovação.</p>
            </div>
        </div>
        <div class="" data-aos="fade-down" >
            <div>
                <img src="../../../assets/Container-2.svg" class="mb-2" style="width: 100%;" alt="">
            </div>
            <div id="ui-card">
                <div class="card-ajust">
                    <div class="icon-circle mb-4">
                        <i class="fa-solid fa-car-side"></i>
                    </div>
                </div>
                <h4>Nosso Objetivo</h4>
                <p>Facilitar o dia a dia, proporcionando soluções práticas, rápidas.</p>
            </div>
        </div> -->
    </div>
</div>