<section id="reviews">
    <div id="content-section" class="content container">
        <div style="display: flex;">
            <p class="title-detail">
                Reviews
            </p>
        </div>
        <h2 data-aos="fade-right" data-aos-duration="300">
            O que dizem sobre nós
        </h2>
    </div>


    <div id="feedback-carousel" class="container py-5 desktop-tablet" >
        <div id="carouselFeedbacks" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let group of feedbackGroups; let i = index" [class.active]="i === 0">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let feedback of group">
                            <div class="card-review p-3">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <!-- Foto circular -->
                                    <div class="feedback-header d-flex align-items-center">
                                        <div class="feedback-photo">
                                            <img [src]="feedback.photoUrl" alt="Foto de {{ feedback.client }}"
                                                class="img-fluid">
                                        </div>
                                        <h5 class="card-title ms-3">{{ feedback.client }}</h5>
                                    </div>

                                    <!-- Comentário -->
                                    <p class="card-text mt-3">{{ feedback.text }}</p>

                                    <!-- Estrelas -->
                                    <div class="stars mt-3">
                                        <ng-container *ngFor="let star of getStars(feedback.rating)">
                                            <i class="fas fa-star text-warning"></i>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselFeedbacks"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselFeedbacks"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Próximo</span>
            </button>
        </div>
    </div>


    <!-- CARROSSEL PARA MOBILE -->

    <div id="feedback-carousel" class="container py-5 mobile" >
        <div id="carouselFeedbacks2" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let feedback of feedbacks; let i = index" [class.active]="i === 0">
                    <div class="card-review p-3">
                        <div class="card-body">
                            <!-- Foto do Cliente -->
                            <div class="d-flex align-items-center mb-3">
                                <img [src]="feedback.photoUrl" alt="Foto de {{ feedback.client }}"
                                    class="rounded-circle" width="40" height="40">
                                <h5 class="card-title ms-3">{{ feedback.client }}</h5>
                            </div>
                            <!-- Comentário -->
                            <p class="card-text">{{ feedback.text }}</p>
                            <!-- Estrelas de Avaliação -->
                            <div class="stars">
                                <ng-container *ngFor="let star of [].constructor(feedback.rating); let idx = index">
                                    <i class="fa fa-star text-warning" [class.filled]="idx < feedback.rating"></i>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselFeedbacks2"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselFeedbacks2"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Próximo</span>
            </button>
        </div>
    </div>

</section>